<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FishingReports.DataAccess.Properties.Settings.FishingReportsConnectionString"
            connectionString="Data Source=BRADSKI7;Initial Catalog=FishingReports;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FishingReports.DataAccess.Properties.Settings.FishingReportsConnectionString1"
            connectionString="Data Source=bradski7;Initial Catalog=FishingReports;User ID=sa;Password=bradski"
            providerName="System.Data.SqlClient" />
        <add name="FishingReports.DataAccess.Properties.Settings.FishingReportsConnectionString2"
            connectionString="Data Source=LAPTOP-SJSO89UV;Initial Catalog=FishingReports;Persist Security Info=True;User ID=sa;Password=unlimited"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>