<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=LAPTOP-SJSO89UV;Initial Catalog=FishingReports;User ID=sa;Password=unlimited" name="FishingReportsConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service
          name="FishingReportsServices.ReportDataService"
          behaviorConfiguration="ReportDataServiceBehavior">
        <!-- use base address provided by host -->
        <!-- specify BasicHttp binding and a binding configuration to use -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="Binding1"
                  contract="FishingReportsServices.IReportDataService" />
      </service>
    </services>
    <bindings>
      <!-- 
          Following is the expanded configuration section for a BasicHttpBinding.
          Each property is configured with the default value.
          See the TransportSecurity, and MessageSecurity samples in the
          Basic directory to learn how to configure these features.
          -->
      <basicHttpBinding>
        <binding name="Binding1"
                 hostNameComparisonMode="StrongWildcard"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="5000000"
                 maxBufferSize="5000000"
                 maxBufferPoolSize="5000000"
                 transferMode="Buffered"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 bypassProxyOnLocal="false"
                 useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportDataServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
